@use '../../style/variables' as *;

.paperWrapperStyle{
    position: relative;
    z-index: 6;
    background-color: $hmm-white;
    margin: -2rem 2rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px #00000066;
    padding: 3rem;
}

.homePaperStyle{
    font-family: "Karma", serif;
    h2, h3{
        color: $page-secondary;
        font-weight: 500;
    }
    
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        h2{
            font-size: 2rem;
            margin: 0;
        }
        span{
            background-color: $search;
            width: 2rem;
            height: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
            img{
                width: 1.5rem;
            }
        }
        
    }

    .verb{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 1rem 0;
    }
}

.aboutPaperStyle{

    p, li{
        font-size: 2.5vw;
    }
    h3{
        font-size: 3vw;
    }

    @media (min-width: $large){
        p, li{
            font-size: 1vw;
        }
        h3{
            font-size: 1.5vw;
        }
    }
}

