@use '../../style/variables' as *;

span {
    background-color: $page-marking;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 3.3rem;
    height: 3.3rem;

    img {
        width: 2rem;
        display: block;
    }

    @media(min-width: $large) {
        width: 4rem;
        height: 4rem;
        img{
            width: 2.5rem;
        }
    }
}