@use './style/variables' as *;
//font-family: "Marck Script", cursive;
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
//font-family: "Karla", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
//font-family: "Karma", serif;
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: "Karla", sans-serif;
    background-color: $page-primary;
}